button {


  color: whitesmoke;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.5s;
  cursor: pointer;
}

button {
  background-color: whitesmoke;
  color: black;
  border: 3px solid #555555;
  border-radius: 5px;
}

button:hover {
  background-color: #555555;
  color: whitesmoke;
}